<div *ngIf="employeesOrProducts && employeesOrProducts.length">
  <label for="inventory-type">Select Chart:</label>
  <select id="inventory-type" [(ngModel)]="selectedChartType" (change)="onChartTypeChange()">
    <option value="barVertical">Vertical</option>
    <option value="barHorizontal">Horizontal</option>
    <option value="lineSquared">Line</option>
    <option value="areaRounded">Area</option>
    <option value="pie">Pie</option>
    <option value="doughnut">Doughnut</option>
  </select>


    <!-- Inventory type selector -->
  <label for="inventory-type">Select Dashboard:</label>
  <select id="inventory-type" [(ngModel)]="selectedInventoryType" (change)="onInventoryTypeChange()">
    <option value="internalProducts">All Products</option>
    <option value="employee">Marketing Employee</option>
  </select>

  <label for="metric-select">Select metric:</label>
  <select id="metric-select" [(ngModel)]="selectedMetric" (change)="updateChartData()">
    <option value="price" *ngIf="employeesOrProducts[0].price">Price</option>
    <option value="priceWithVAT" *ngIf="employeesOrProducts[0].priceWithVAT">Price with VAT</option>
    <option value="rating" *ngIf="employeesOrProducts[0].rating">Rating</option>
    <option value="discounted" *ngIf="employeesOrProducts[0].discounted">Discount</option>
    <option value="sold" *ngIf="employeesOrProducts[0].sold">Sold</option>
    <option value="performanceScore" *ngIf="employeesOrProducts[0].performanceScore">Performance Score</option>
    <option value="unexpectedDaysOff" *ngIf="employeesOrProducts[0].unexpectedDaysOff">Unexpected Days Off</option>
    <option value="workedMonths" *ngIf="employeesOrProducts[0].workedMonths">Worked Months</option>
    <option value="assignedTasks" *ngIf="employeesOrProducts[0].assignedTasks">Assigned Tasks</option>
    <option value="solvedTasks" *ngIf="employeesOrProducts[0].solvedTasks">Solved Tasks</option>
    <option value="salary" *ngIf="employeesOrProducts[0].salary">Salary</option>
  </select>

  <div>
    <app-bar-chart2 
      [title]="title"
      [labels]="labels"
      [data]="chartData"
      [chartType]="chartType"
      [chartTypeOrientation]="chartTypeOrientation"
      [chartTension]="chartTension">
    </app-bar-chart2>
  </div>
</div>