<div *ngIf="employeesOrProducts && employeesOrProducts.length">
  <label class="label-style">Select Chart:</label>
  <select class="option-style" [(ngModel)]="selectedChartType" (change)="onChartTypeChange()">
    <option value="barVertical">Vertical</option>
    <option value="barHorizontal">Horizontal</option>
    <option value="lineSquared">Line</option>
    <option value="areaRounded">Area</option>
    <option value="pie">Pie</option>
    <option value="doughnut">Doughnut</option>
  </select>
  
  <label class="label-style">Select Dashboard:</label>
  <select class="option-style" [(ngModel)]="selectedInventoryType" (change)="onInventoryTypeChange()">
    <option value="internalProducts">Own Products</option>
    <option value="employee">Manufacturing Employee</option>
  </select>

  <label class="label-style">Select Metric:</label>
  <select class="option-style" [(ngModel)]="selectedMetric" (change)="updateChartData()">
    <option value="price" *ngIf="employeesOrProducts[0].price">Price</option>
    <option value="priceWithVAT" *ngIf="employeesOrProducts[0].priceWithVAT">Price with VAT</option>
    <option value="rating" *ngIf="employeesOrProducts[0].rating">Rating</option>
    <option value="quantity" *ngIf="employeesOrProducts[0].quantity">Stock</option>    
    <option value="performanceScore" *ngIf="employeesOrProducts[0].performanceScore">Performance Score</option>
    <option value="unexpectedDaysOff" *ngIf="employeesOrProducts[0].unexpectedDaysOff">Unexpected Days Off</option>
    <option value="workedMonths" *ngIf="employeesOrProducts[0].workedMonths">Worked Months</option>
    <option value="assignedTasks" *ngIf="employeesOrProducts[0].assignedTasks">Assigned Tasks</option>
    <option value="solvedTasks" *ngIf="employeesOrProducts[0].solvedTasks">Solved Tasks</option>
    <option value="salary" *ngIf="employeesOrProducts[0].salary">Salary</option>
  </select>

  <div>
    <app-bar-chart2 
      [title]="title"
      [labels]="labels"
      [data]="chartData"
      [chartType]="chartType"
      [chartTypeOrientation]="chartTypeOrientation"
      [chartTension]="chartTension">
    </app-bar-chart2>
  </div>
</div>