<div *ngIf="inventory && inventory.length">
  <label class="label-style">Select Chart:</label>
  <select class="option-style" [(ngModel)]="selectedChartType" (change)="onChartTypeChange()">
    <option value="barVertical">Vertical</option>
    <option value="barHorizontal">Horizontal</option>
    <option value="lineSquared">Line</option>
    <option value="areaRounded">Area</option>
    <option value="pie">Pie</option>
    <option value="doughnut">Doughnut</option>
  </select>

  <label class="label-style">Select Inventory:</label>
  <select class="option-style" [(ngModel)]="selectedInventoryType" (change)="onInventoryTypeChange()">
    <option value="allProducts">All Products</option>
    <option value="productInHouse">Own Products</option>
    <option value="productByPartners">Partners Products</option>
    <option value="materials">Materials</option>
  </select>

  <!-- Metric selector -->  
  <label class="label-style">Select Metric:</label>
  <select class="option-style" [(ngModel)]="selectedMetric" (change)="updateChartData()">
    <option value="price" *ngIf="inventory[0].price">Price</option>
    <option value="priceWithVAT" *ngIf="inventory[0].priceWithVAT">Price with VAT</option>
    <option value="rating" *ngIf="inventory[0].rating">Rating</option>
  </select>

  <!-- Chart component -->
  <div>
    <app-bar-chart2 
      [title]="title"
      [labels]="labels"
      [data]="chartData"
      [chartType]="chartType"
      [chartTypeOrientation]="chartTypeOrientation"
      [chartTension]="chartTension">
    </app-bar-chart2>
  </div>  
</div>
