
<div *ngIf="suppliers && suppliers.length">
  <label class="label-style">Select Chart:</label>
  <select class="option-style" [(ngModel)]="selectedChartType" (change)="onChartTypeChange()">
    <option value="barVertical">Vertical</option>
    <option value="barHorizontal">Horizontal</option>
    <option value="lineSquared">Line</option>
    <option value="areaRounded">Area</option>
    <option value="pie">Pie</option>
    <option value="doughnut">Doughnut</option>
  </select>

  <label class="label-style">Select Metric:</label>
  <select class="option-style" [(ngModel)]="selectedMetric" (change)="getSuppliersData()">
    <option value="callsCount">Calls Number</option>
    <option value="callsDuration">Calls Duration</option>
    <option value="smsNumber">SMS Number</option>
    <option value="emailsNumber">E-mails Number</option>
  </select>

  <div>
    <app-bar-chart2 
      [title]="title"
      [labels]="labels"
      [data]="chartData"
      [chartType]="chartType"
      [chartTypeOrientation]="chartTypeOrientation"
      [chartTension]="chartTension">
    </app-bar-chart2>
  </div>
</div>