
<div *ngIf="clients && clients.length">
  <label class="label-style">Select Chart:</label>
  <select class="option-style" [(ngModel)]="selectedChartType" (change)="onChartTypeChange()">
    <option value="barVertical">Vertical</option>
    <option value="barHorizontal">Horizontal</option>
    <option value="lineSquared">Line</option>
    <option value="areaRounded">Area</option>
    <option value="pie">Pie</option>
    <option value="doughnut">Doughnut</option>
  </select>

  <label class="label-style">Select Metric:</label>
  <select class="option-style" [(ngModel)]="selectedMetric" (change)="getClientsData()">
    <option value="age">Age</option>
    <option value="purchasedProductsQuantity">Purchasing</option>
    <option value="wishlistProductsQuantity">Wishlist</option>
  </select>

  <div>
    <app-bar-chart2 
      [title]="title"
      [labels]="labels"
      [data]="chartData"
      [chartType]="chartType"
      [chartTypeOrientation]="chartTypeOrientation"
      [chartTension]="chartTension">
    </app-bar-chart2>
  </div>
</div>