.chart-container {
  width: 80%;
}

.sort-buttons {
  margin-top: -1.15rem;
  display: flex;
  gap: 1rem;
  float: right;
}

.label-style {
  /* padding: 0.25rem; */
}

.option-style {
  margin-left: -0.75rem;
}